<script lang="ts">
import Vue from 'vue';

interface Speaker {
  name: string;
  role: string;
  organization: string;
  image: string;
}

interface Session {
  name: string;
  content: string;
  date: string;
  time: string;
  location: string;
  section: string;
}

export default Vue.extend({
  name: 'FeaturedSpeaker',
  props: {
    speaker: {
      type: Object as () => Speaker,
      required: true,
    },
    session: {
      type: Object as () => Session,
      required: true,
    },
  },
});
</script>

<template>
  <SlpContainer variant="charcoal-100" class="featured-speaker">
    <SlpRow>
      <div class="flex slp-mb-64">
        <SlpIcon
          icon="slp-speaker"
          size="lg"
          color="surface-950"
          class="slp-mr-16"
        />
        <SlpTypography tag="h2" variant="heading2-bold">
          Speaker session
        </SlpTypography>
      </div>
    </SlpRow>
    <SlpRow>
      <SlpColumn :cols="4">
        <nuxt-img
          :src="speaker.image"
          class="featured-speaker__img slp-pr-sm-32"
        />
        <SlpTypography class="slp-pb-8 slp-pt-32" tag="p" variant="body1-bold">
          {{ speaker.name }}
        </SlpTypography>
        <SlpTypography class="slp-pb-8" tag="p" variant="body2">
          {{ speaker.role }}
        </SlpTypography>
        <SlpTypography class="slp-pb-8" tag="p" variant="body2-bold">
          {{ speaker.organization }}
        </SlpTypography>
      </SlpColumn>
      <SlpColumn :cols="8">
        <SlpTypography
          class="slp-pt-16 slp-pt-md-0 slp-pb-32"
          tag="p"
          variant="body2-bold"
        >
          {{ session.date }} | {{ session.time }} | {{ session.location }} |
          {{ session.section }}
        </SlpTypography>
        <SlpTypography tag="p" variant="body1">
          {{ session.content }}
        </SlpTypography>
        <SlpTypography class="slp-pt-32" tag="p" variant="heading5-bold">
          Speaking session topic: {{ session.name }}
        </SlpTypography>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style scoped lang="scss">
.featured-speaker {
  padding: $spacing-96 0;
  color: $color-text-50;

  &__img {
    width: 100%;
    height: auto;
  }

  .flex {
    display: flex;
    align-items: center;
  }
}
</style>
