<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SurveyGraphBar',

  props: {
    percentage: {
      type: Number,
      required: true,
      default: 0,
    },
    color: {
      type: String,
      required: true,
      default: 'green',
    },
    scale: {
      type: Number,
      required: true,
      default: 1,
    },
  },
  data() {
    return {
      observer: null,
    };
  },
  computed: {
    setWidth() {
      const width =
        this.scale > 1 ? (100 / this.scale) * this.percentage : this.percentage;
      return width <= 8 ? `calc(${width}% + 10px)` : `${width}%`;
    },
  },
  mounted() {
    this.observer = new IntersectionObserver(this.animationHandler, {
      rootMargin: '0px',
      threshold: 0,
    });
    const children = this.$refs.bar as HTMLElement;
    this.observer.observe(children);
  },
  beforeDestroy() {
    this.observer.disconnect();
  },
  methods: {
    animationHandler(entries: any, observer) {
      entries.forEach((entry: any) => {
        const element = entry.target;
        const bar = element.querySelector('.survey-bar-graph__bar-percent');
        const border = element.querySelector(
          '.survey-bar-graph__bar-percent__border-left',
        );
        if (entry.isIntersecting) {
          bar.style.transform = `translate3d(0, 0,0)`;
          border.style.opacity = `1`;
          observer.unobserve(element);
        }
      });
    },
  },
});
</script>

<template>
  <div ref="bar" class="survey-bar-graph__bar">
    <div
      class="survey-bar-graph__bar-percent__border-left"
      :class="`survey-bar-graph__bar-percent__border-left--${color}`"
      :style="{ width: `${percentage}%` }"
    ></div>
    <div
      class="survey-bar-graph__bar-percent"
      :data-percentage="percentage"
      :class="`survey-bar-graph__bar-percent--${color}`"
      :style="{ width: `${setWidth}` }"
    >
      <div class="survey-bar-graph__stripes"></div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.survey-bar-graph {
  &__bar {
    width: 100%;
    height: 40px;
    background: #2e255c;
    position: relative;
    border-radius: 100px;
    overflow: hidden;
    will-change: transform;
  }
  &__bar-percent {
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate3d(-100%, 0, 0);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 1.5px solid transparent;
    border-left: 0px solid transparent;
    transition: all ease 1.3s;
    overflow: hidden;
    will-change: transform;
    &--green {
      background: linear-gradient(to right, #338f7e, #67d2ba) border-box;
    }
    &--red {
      background: linear-gradient(to right, #e24329, #f39fc5) border-box;
    }
    &--orange {
      background: linear-gradient(to right, #fca121, #ffd58c) border-box;
    }
    &--purple {
      background: linear-gradient(to right, #a989f5, #7a5cc5) border-box;
    }
    &--blue {
      background: linear-gradient(to right, #3825ff, #685afe) border-box;
    }
    @media (prefers-reduced-motion) {
      transform: translate3d(0, 0, 0);
    }
    &__border-left {
      position: absolute;
      height: 40px;
      top: 0;
      left: 0;
      overflow: hidden;
      z-index: 1;
      max-width: 15px;
      min-width: 15px;
      opacity: 0;
      transition: all 1.3s ease-in-out;
      @media (prefers-reduced-motion) {
        opacity: 1;
      }
      &:before {
        content: '';
        position: absolute;
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
        width: 40px;
        height: 40px;
        left: 0;
        top: 0;
      }
      &--green {
        &:before {
          border: 1.5px solid #338f7e;
        }
      }
      &--red {
        &:before {
          border: 1.5px solid #e24329;
        }
      }
      &--orange {
        &:before {
          border: 1.5px solid #fca121;
        }
      }
      &--purple {
        &:before {
          border: 1.5px solid #a989f5;
        }
      }
      &--blue {
        &:before {
          border: 1.5px solid #3825ff;
        }
      }
    }
  }

  &__stripes {
    position: absolute;
    width: 200%;
    background-repeat: repeat-x;
    height: 40px;
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 2px,
      #2e255c 2px,
      #2e255c 8px
    );
  }
}
</style>
