<script>
import Vue from 'vue';
import { IsMobileMixin } from '../../../mixins';

export default Vue.extend({
  name: 'SolutionsResourceCarousel',
  mixins: [IsMobileMixin],
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      cards: [...this.data.cards.map((_, index) => index)],
      currentIndex: 0,
      translateValue: 0,
      cardWidth: 300,
      activeIndex: 0,
    };
  },
  mounted() {
    this.initIntersectionObserver();
  },
  methods: {
    prevSlide() {
      if (this.currentIndex > 0) {
        this.currentIndex--;
        this.translateValue += this.cardWidth;
      }
    },
    nextSlide() {
      if (this.currentIndex < this.cards.length - 1) {
        this.currentIndex++;
        this.translateValue -= this.cardWidth;
      }
    },
    goToSlide(index) {
      this.currentIndex = index;
      this.translateValue = -index * this.cardWidth;
    },
    initIntersectionObserver() {
      const options = {
        root: null,
        rootMargin: '0px',
        threshold: 0.5,
      };
      const callback = (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const index = this.$refs.carouselItems.indexOf(entry.target);
            if (index !== -1) {
              this.activeIndex = index;
            }
          }
        });
      };
      const observer = new IntersectionObserver(callback, options);
      this.$refs.carouselItems.forEach((item) => {
        observer.observe(item);
      });
    },
    isActiveItem(index) {
      return index === this.activeIndex;
    },
  },
});
</script>

<template>
  <div id="hotel">
    <SlpContainer class="slp-py-lg-96 slp-py-64">
      <SlpTypography tag="h4" variant="heading5" class="slp-mb-48">{{
        data.subheader
      }}</SlpTypography>

      <SlpRow>
        <SlpColumn :cols="4" class="slp-pr-32">
          <SlpTypography tag="h4" variant="heading4-bold">{{
            data.info.header
          }}</SlpTypography>
          <SlpTypography tag="h4" variant="body1-bold" class="slp-my-16">{{
            data.info.address
          }}</SlpTypography>
          <div class="content">
            <div v-html="$md.render(data.info.info)"></div>
          </div>
        </SlpColumn>
        <SlpColumn :cols="8">
          <div class="summit-carousel">
            <div class="summit-carousel-mask">
              <div
                class="carousel-inner-section"
                :style="{
                  transform: `translateX(${translateValue}px)`,
                }"
              >
                <div
                  v-for="(card, index) in data.cards"
                  :key="index"
                  ref="carouselItems"
                  :cols="data.column_size"
                  class="slp-mb-md-48 card"
                  :class="{ active: isMobile && isActiveItem(index) }"
                  size="lg"
                >
                  <div class="summit__wrapper">
                    <div class="summit__content-top">
                      <div v-if="card.video" class="video-card">
                        <video :src="card.video" class="video" controls></video>
                      </div>
                      <nuxt-img
                        v-else
                        class="summit__image"
                        :src="card.src"
                        alt=""
                        loading="lazy"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="controls">
              <div class="dots">
                <button class="control-btn prev" @click="prevSlide">
                  <SlpIcon
                    class="slp-ml-8"
                    variant="product"
                    name="chevron-lg-left"
                  />
                </button>
                <span
                  v-for="index in cards"
                  :key="index"
                  :class="{
                    activedot: isMobile
                      ? activeIndex === index
                      : currentIndex === index,
                  }"
                  class="dot"
                  @click="goToSlide(index)"
                ></span>
                <button class="control-btn next" @click="nextSlide">
                  <SlpIcon
                    class="slp-ml-8"
                    variant="product"
                    name="chevron-lg-right"
                    width="20px"
                  />
                </button>
              </div>
            </div>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.content {
  &:deep p {
    margin-bottom: $spacing-16;
  }
  &:deep a {
    text-decoration: underline;
  }
}
.summit-carousel {
  position: relative;

  .carousel-inner-section {
    width: max-content;
    transition: transform 0.3s ease-in-out;
  }
  .card {
    width: 300px;
    float: left;
    scroll-snap-align: start;
  }
  .controls {
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: $breakpoint-md) {
      margin-top: $spacing-24;
    }
  }
  .control-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    vertical-align: sub;
  }
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-surface-300;
    margin: 0 $spacing-8;
    cursor: pointer;
  }
  .dot.activedot {
    background-color: $color-surface-700;
  }

  .video-card {
    background: black;
  }

  .video {
    width: 100%;
    height: 200px;
  }

  .summit-carousel-mask {
    width: 900px;
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.summit {
  cursor: pointer;
  display: flex;
  position: relative;
  height: 100%;
  min-width: 300px;
  @media (min-width: $breakpoint-md) {
    margin: $spacing-16 $spacing-16 $spacing-16 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    justify-content: space-between;
    padding-right: $spacing-24;
    flex: 1;
  }

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &.grouped {
      justify-content: center;
    }
  }

  &__line {
    border-top: 2px solid $color-surface-400;

    &.slp-hr {
      margin: $spacing-32 0;
    }
  }

  &__image {
    width: 100%;
    max-height: 200px;
    max-width: 318px;
    height: 200px;
    object-fit: cover;
  }

  &__content-top {
    p,
    h3 {
      color: $color-text-300;
    }
  }
}
</style>
