<script lang="ts">
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  Hero,
  Cities,
  ConductBanner,
  Form,
} from '~/components/events/world-tour/index.vue';
import { NextStep, Faq as FAQ } from '~/components/common/index.vue';

import { getPageMetadata } from '~/common/meta';

export default {
  name: 'WorldTour',
  components: {
    Hero,
    Cities,
    Form,
    ConductBanner,
    NextStep,
    FAQ,
  },
  nuxtI18n: false,
  async asyncData({ $content }) {
    const doc = await $content('events/devsecops-world-tour/index').fetch();
    return { doc };
  },
  head(): MetaInfo {
    return {
      ...getPageMetadata((this as any).doc, this.$route.path),
    };
  },
};
</script>
<template>
  <div>
    <Hero v-bind="doc.hero" />
    <Cities :regions="doc.regions" />
    <Form v-bind="doc.form" />
    <FAQ :data="doc.faq" active-header="DevSecOps World Tour" />
    <ConductBanner v-bind="doc.conduct_banner" />
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
