<script lang="ts">
import Vue from 'vue';
import { SlpBreadcrumb } from '~/components/common/index.vue';

export default Vue.extend({
  name: 'ComparisonHero',
  components: {
    SlpBreadcrumb,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section>
    <SlpContainer>
      <SlpBreadcrumb class="slp-mt-32" :crumbs="data.crumbs" />
      <SlpTypography class="slp-mt-32" variant="heading1-bold" tag="h1">{{
        data.title
      }}</SlpTypography>
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.headline {
  @media (max-width: $breakpoint-md) {
    margin-top: 40px;
  }
}

.subtitle {
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint-md) {
    align-items: flex-start;
    flex-direction: column;

    &__icon {
      margin-bottom: $spacing-8;
    }
  }

  &__icon {
    height: 24px;
    width: 24px;
  }
}

.slp-hr {
  border-top: 1px solid $color-surface-200;
  border-bottom: none;
}
</style>
