<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { SolutionsResourceCards } from '../components/solutions/index.vue';
import {
  Hero,
  Journey,
  Features,
  Principles,
} from '../components/solutions/ai/index.vue';
import { NextStep, ReportCta } from '~/components/common/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    Hero,
    Journey,
    Features,
    SolutionsResourceCards,
    Principles,
    NextStep,
    ReportCta,
  },
  async asyncData({ $content, i18n, error }: any) {
    try {
      const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;
      const ai = await $content(locale, `gitlab-duo`).fetch();
      return { ai };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).ai, this.$route.path);
  },
  mounted() {
    setTimeout(() => {
      // eslint-disable-next-line no-underscore-dangle
      window.__vimeoRefresh();
    }, 3000);
  },
});
</script>

<template>
  <div>
    <SlpContainer variant="charcoal-100">
      <Hero v-bind="ai.hero" />
      <Journey v-bind="ai.journey" />
    </SlpContainer>
    <SlpContainer>
      <section class="slp-my-64">
        <SlpTypography tag="h2" variant="heading2-bold" class="slp-mb-32">
          {{ ai.video.text }}</SlpTypography
        >
        <div style="padding: 56.25% 0 0 0; position: relative">
          <iframe
            frameborder="0"
            :src="ai.video.source"
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            "
            title="Meet GitLab Duo"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </section>
      <Features v-bind="ai.featureCards" />
      <Principles v-bind="ai.principles" />
      <SolutionsResourceCards v-bind="ai.resources" />
    </SlpContainer>
    <ReportCta :data="ai.report_cta" />
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
